[submodule "LLM_Game_Level_Generator/LLM_Game_Level_Generator/tools/pcg_benchmark/pcg_benchmark"]
	path = LLM_Game_Level_Generator/LLM_Game_Level_Generator/tools/pcg_benchmark/pcg_benchmark
	url = https://github.com/GaboAlba/pcg_benchmark
